@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.text-colour{
    color: #1995AD;
}
.bg-colour{
    background-color: #F1F1F2;
}

.heading1{
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
}
/* style for h2 tags*/
.heading_2{
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    color: #000000;
    text-align: center;
}

.heading_3{
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    text-align: center;
}
/* Styles for  index pages */
.para1 {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #000000;
}

/*Custom responsive google maps*/
.embed-responsive-item {
    height: 50%;
    width: 100%;
    }

/*Styles for buttons*/
.button{
    background-color: #1995AD;
    color: #F1F1F2;
    border: none;
    padding: 0.625rem;
    border-radius: 0.3125rem;
    text-align: center;

}
.button:hover{
    background-color:#F1F1F2;
    color: #1995AD;
    transition: all 0.5s ease;
}

.button-outline-success{
    background-color: #606667;
    padding: 0.625rem;
}

/* custom navigation links*/
.navbar .navbar-nav .nav-link:hover{
background-color:  #1995AD;
    color: aliceblue;
    
}
.nav-link{
    text-transform: uppercase;
    color:#1995AD
}
@media screen and(min-width: 992px){
        .navbar{
            padding: 0;
        }
        .navbar .nav-link .navbar-nav{
            padding: 1em;
            transition: all 0.7s;
        }
}
@media screen and(min-width: 991px){
    .navbar-brand{
        padding-left:  0.7em;
    }
    .navbar .nav-link .navbar-nav{
        padding-top: 1em;

    }
}
.img{
    width: 100%;
    height: 100%s;
}

